<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.tencent.mmfacepay">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>

        <activity
            android:name="com.tencent.wxpay.imagefacesign.IFSExampleActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.tencent.wxpay.imagefacesign.IFSExampleActivityOld"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tencent.wxpay.imagefacesign.IFSMainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tencent.wxpay.imagefacesign.IFSFactoryTestActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.tencent.wxpay.permission.AcpActivity"/>

    </application>

</manifest>
